
/* ====================
 Pills 
==================== */
@import url('../global.css');

.button {
  background: var(--tertiary-color);
  font-weight: 700;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 15px 40px;
  border-radius: 50px;
  cursor: pointer;
}

/* ====================
 Navbar pill
==================== */
.button--nav {
  padding: 8px 25px;
  transition: background 1s, color 1s;
}

.menu__item.button:hover {
  background: var(--text-color);
  color: var(--primary-color);
}

/* ====================
 Standard pill
==================== */
.button--standard {
  background: var(--btn-bg-color-gradient);
  background-size: 250%;
  border: none;
  outline: 3px solid transparent;
  transition: background 1s, outline 1s, transform 1s;
}

.button--standard:hover {
  background: transparent;
  background-position: 100%;
  outline: 2px solid var(--secondary-color);
  transform: scale(1.05);
}

/* ====================
 Animations Button
==================== */
.button--animation { animation: wiggle 2.5s linear infinite; }

/* ====================
 Keyframe Button
==================== */
@keyframes wiggle {
  0% { transform: rotate(0); }
  15% { transform: rotate(-15deg); }
  20% { transform: rotate(10deg); }
  25% { transform: rotate(-10deg); }
  30% { transform: rotate(10deg); }
  35% { transform: rotate(-10deg); }
  40%, 100% { transform: rotate(0); }
}