
@import url('global.css');

body {
  height: 100%;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%), hsl(0, 80%, 86%));
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2.5rem;
  height: 100px;
}

main div.photo {
  height: 45vh;
  background-image: url('../images/hero-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

main .content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 3rem;
}

main .content h1, span.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 2.0rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1rem;
  width: 50%;
}

main .content span.title, p {
  font-weight: 300;
  color: var(--desaturatedRed)
}

main .content p {
  font-weight: 600;
  font-size: .875rem;
  line-height: 1.5rem;
  margin: 0;
  width: 85%;
  margin-bottom: 1.5rem;
}
/*
main .content .call_to_action {
  display: inline-block;
  border: 1px solid var(--desaturatedRed);
  border-radius: 2rem;
  padding: 5px;
}*/


main .content .call_to_action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 3rem;
  margin-bottom: 10px;
}

main .content 
.call_to_action input {
  width: 70%;
  height: 3rem;
  position: absolute;
  padding: 1rem 1rem 1rem 1.5rem;
  background-color: transparent;
  border: 1px solid var(--desaturatedRed);
  border-radius: 2rem;
  margin-left: -5% 70%;
}
/*
main .content 
.call_to_action input.--has-error {
  border-color: var(--softRed);
}*/

main .content 
.call_to_action button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 4rem;
  height: 3rem;
  right: 12%;
  background-color: var(--softRed);
  border: 1px solid var(--softRed);
  border-radius: 2rem;
  box-shadow: 2px 25px 30px 1px hsl(0, 36%, 70%);
  cursor: pointer;
}

main .content 
.call_to_action button:hover {
  background-color: var(--lightPink);
  border-color: var(--lightPink);
}

main .content 
.call_to_action button::before {
  content: '';
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  right: 120%;
  background-image: url('../images/icon-error.svg');
  background-repeat: no-repeat;
  background-size: cover;
  visibility: hidden;
}

::placeholder {
  color: var(--desaturatedRed);
  opacity: 1;
}

:-ms-input-placeholder { color: var(--desaturatedRed); }
::-ms-input-placeholder { color: var(--desaturatedRed); }

#email_error { 
  width: 100%;
  font-size: .8rem;
  color: var(--desaturatedRed);
  text-align: left;
  padding-left: 20%;
  margin-bottom: 4rem;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}